*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background: #F5F5F5;
  font-family: "Roboto", "Helvetica", "sans-serif";
}
h1 {
			font-size: 5000%;
			text-align: center
		}
